html, body{
    height:100%; /* important to vertically align the container */
    width:100%; /* important to vertically align the container */
    margin:0 auto;
    padding:0;
}

.file-upload {
    display: none;
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.p-image {
  position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.bg-primary {

  background-color: rgba(249, 200, 142, 0.7) !important;

}
.text-white {
    color: #444444 !important;
}

.border-info {
    border-color: #ecd6c7 !important;
}
.bg-info {
    background-color: #ecd6c7 !important;
}
