<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript">
        // #personal_chatroom
        var urlParams = new URLSearchParams(window.location.search);
        var userName = urlParams.get('name');
        var userEmail = urlParams.get('email');
        var userPwd = urlParams.get('pw');
        var id = urlParams.get('id');
        var gender = urlParams.get('gender');
        var constellation = urlParams.get('constellation');
        var birth = urlParams.get('birth');
        var country = urlParams.get('country');
        var city = urlParams.get('city');

        console.log("userName : " + userName);
        console.log("userEmail : " + userEmail);
        console.log("userPwd : " + userPwd);
        console.log("id : " + id);
        console.log("gender : " + gender);
        console.log("constellation : " + constellation);
        console.log("birth : " + birth);
        console.log("country : " + country);
        console.log("city : " + city);

        function home_url(){
            const query_string = "?name="+userName+"&id="+id+"&pw="+userPwd+"&gender="+gender+
                "&birth="+birth+"&constellation="+constellation+"&country="+country+"&city="+city;
            document.getElementById("home").href = "/userpage" + query_string;
        }
        function chat_url(){
            document.getElementById("personal_chatroom").href = "/chat?userName=" + userName;
        }
        function friend_url(){
            const query_string = "?name="+userName+"&id="+id+"&pw="+userPwd+"&gender="+gender+
                "&birth="+birth+"&constellation="+constellation+"&country="+country+"&city="+city;
            document.getElementById("friend").href = "/friends" + query_string;
        }
        function news_url(){
            const query_string = "?name="+userName+"&id="+id+"&pw="+userPwd+"&gender="+gender+
                "&birth="+birth+"&constellation="+constellation+"&country="+country+"&city="+city;
            document.getElementById("news").href = "/ac" + query_string;
        }
        function shop_url(){
            const query_string = "?name="+userName+"&id="+id+"&pw="+userPwd+"&gender="+gender+
                "&birth="+birth+"&constellation="+constellation+"&country="+country+"&city="+city;
            document.getElementById("shop").href = "/shop" + query_string;
        }
    </script>

</head>
<body>

    <!--navbar-->
    <div class="box1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background:#Ffb85f"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#" style="font-size:200%; font-weight:bold; color:#01abaa; position:absolute;left:20px;">MUMO</a>

            <li>
              <a id="home" onclick="home_url()" href="userpage" class="nav-link"  style="margin-top:25%; font-family:Microsoft JhengHei;">主頁<span class="sr-only">(current)</span></a>
            </li>

            <li>
              <a id="friend" class="nav-link" href="#" onclick="friend_url()" style="margin-top:23%; font-family:Microsoft JhengHei;">交友</a>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:16%; font-family:Microsoft JhengHei;">聊天室</a>
              <div id="chatroom" class="dropdown-menu" aria-labelledby="dropdown12">
                <a id="personal_chatroom" onclick="chat_url()" href="#" class="dropdown-item"  style="font-family:Microsoft JhengHei;">個人</a>
                <a href="multichat" class="dropdown-item"  style="font-family:Microsoft JhengHei;">群組</a>
              </div>
            </li>

            <li>
                <a class="nav-link" id="news" onclick="news_url()" href="#" style="margin-top:14%; font-family:Microsoft JhengHei;">最新動態</a>
            </li>
            <li>
                <a class="nav-link" href="coupon" style="margin-top:14%; font-family:Microsoft JhengHei;">好康優惠</a>
            </li>
            <li>
                <a class="nav-link" id="shop" onclick="shop_url()" href="#" style="margin-top:14%; font-family:Microsoft JhengHei;">贈送禮物</a>
            </li>
            <li>
                <a id="date_user" onclick="date_url()" href="date_user" class="nav-link" style="margin-top:14%; font-family:Microsoft JhengHei;">活動入口</a>
            </li>
            <div id="top-tools">
                <li>
                    <input href="#" type="image" src="css/setting.png" alt="image" width="30%" height="30%" style="margin-top:5px;">
                </li>
                <li>
                    <input href="#" type="image" src="css/qu.png" alt="image" width="30%" height="30%">
                </li>
            </div>
          </ul>
        </div>
      </nav>
    </div>





            <!--右邊欄位-->

            <div class="col-lg-12 mt-lg-5 mt-3">

                <!--新消息-->
                <div class="box2">
                    <div class="mb-3">
                        <h4 ><span style="color: #01abaa ;font-weight:bold;">MUMO</span>最新資訊</h4>
                        <div class="box2_content">
                        </div>
                    </div>
                </div>
            </div>

    <!--nav-link dropdown-toggle-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
    <!-- ↑ nav-link dropdown-toggle ↑ -->

</body>
</html>



<body>

    <!--navbar-->
    <div class="box1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background:#Ffb85f"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#" style="font-size:200%; font-weight:bold; color:#01abaa; position:absolute;left:20px;">MUMO</a>

            <li>
              <a id="home" onclick="home_url()" href="userpage" class="nav-link"  style="margin-top:25%; font-family:Microsoft JhengHei;">主頁<span class="sr-only">(current)</span></a>
            </li>

            <li>
              <a id="friend" class="nav-link" href="#" onclick="friend_url()" style="margin-top:23%; font-family:Microsoft JhengHei;">交友</a>

            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:16%; font-family:Microsoft JhengHei;">聊天室</a>
              <div id="chatroom" class="dropdown-menu" aria-labelledby="dropdown12">
                <a id="personal_chatroom" onclick="chat_url()" href="#" class="dropdown-item"  style="font-family:Microsoft JhengHei;">個人</a>
                <a href="multichat" class="dropdown-item"  style="font-family:Microsoft JhengHei;">群組</a>
              </div>
            </li>

            <li>
                <a class="nav-link" id="news" onclick="news_url()" href="#" style="margin-top:14%; font-family:Microsoft JhengHei;">最新動態</a>
            </li>
            <li>
                <a class="nav-link" href="coupon" style="margin-top:14%; font-family:Microsoft JhengHei;">好康優惠</a>
            </li>
            <li>
                <a class="nav-link" id="shop" onclick="shop_url()" href="#" style="margin-top:14%; font-family:Microsoft JhengHei;">贈送禮物</a>
            </li>
            <li>
                <a id="date_user" onclick="date_url()" href="date_user" class="nav-link" style="margin-top:14%; font-family:Microsoft JhengHei;">活動入口</a>
            </li>
            <div id="top-tools">
                <li>
                    <input href="#" type="image" src="css/setting.png" alt="image" width="30%" height="30%" style="margin-top:5px;">
                </li>
                <li>
                    <input href="#" type="image" src="css/qu.png" alt="image" width="30%" height="30%">
                </li>
            </div>
          </ul>
        </div>
      </nav>
    </div>





<!--左邊欄位-->
    <div class="container my-6"><!--和上面的間距-->
        <div class="row">
            <div class="col-lg-12" id="left"><!--left 是左邊欄位,占整個版面的3/12-->
            </div>
        </div>
    </div>

</body>
<
