<!DOCTYPE html>
<html>
<title>First Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/homepage.css">
<link rel="stylesheet" href="css/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button" style="font-size:200%;color:#01abaa;"><b>MUMO</b></a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="center">
    <div class="w3-right w3-hide-small" style="font-size:105%; position:relative;">
      <a href="#intro" class="w3-bar-item w3-button">About</a>
      <a href="#acti" class="w3-bar-item w3-button">Activities</a>
      <a onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Login</a>
      <a href="normal">normal</a>
      <a href="vendor">vendor</a>
    </div>
  </div>
</div>

<div class="w3-container">
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
  
        <div class="w3-center"><br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        </div>

        <form class="w3-container" action="/action_page.php">
            <div class="w3-section">
                <div class="w3-col">
                    <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                    
                    <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                        </i> Login with Google+
                    </a>
                </div>
                
                <p class="w3-center">Or Sign In Manually:</p>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
                <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
                <button class="w3-button w3-block w3-section w3-padding" style="background-color:#ffef54" type="submit">LOGIN</button>
                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
            </div>
        </form>
    <div class="bottom-container">
        <div class="w3-row">
            <div class="w3-col">
                <a href="signup" class="btn">Signup</a>
            </div>
            <div class="w3-col">
                <a href="#" class="btn">Forgot password?</a>
            </div>
    </div>
</div>

    </div>
  </div>
</div>
</div>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="css/cover.png" alt="Cover" width="1600" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
    <span class="w3-padding w3-black w3-opacity-min"><b>NICE</b></span> 
    <span class="w3-hide-small w3-text-black">To Meet You</span></h1>
  </div>
  </header>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="intro">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="css/bout.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="400" height="400">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About</h1>
      <p class="w3-large" style="line-height: 2.5">1. 提供一個讓喜歡音樂、電影的人交流互動的專屬平台。我們的特色是為使用者量身打造，透過興趣去創造更多的話題空間，提供大家更快速、容易尋找到同好知音。</p>
      <p class="w3-large" style="line-height: 2.5">2. 結合電子商務，由店家提供優惠卷作為獎勵，讓使用者在交友平台上的社交行為更加活絡，同時也增加店家行銷的機會。</p>
    </div>
  </div>
  
  <hr>
  
  <!--Activities Section -->
  <div class="w3-container w3-padding-32 w3-center" id="acti">  
      <h1 class="w3-center">Our Activities</h1><br>
  </div>
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/steak.jpg" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/cherries.jpg" alt="Cherries" style="width:100%">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img src="/w3images/wine.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>

  <hr>

<!-- End page content -->
</div>

</body>
</html>
