<!DOCTYPE html>
<html>
<title>Sign Up</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css.css">
<link rel="stylesheet" href="w3.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

</head>
<body>
<img class="w3-image" src="cover.png" alt="Cover" width="1600" height="800">
<form action="/action_page.php">
    <div class="w3-display-middle w3-margin w3-center">
        <h1 style="font-size:50px;">我是...</h1>
        <button onclick="document.getElementById('normal').style.display='block'" style="width:auto; font-size:15px; background-color: #ffb85f;">一般會員</button>
        <button onclick="document.getElementById('vendor').style.display='block'" style="width:auto; font-size:15px; background-color: #ffb85f;">廠商</button>
    </div>  
</form>

<!-- Normal Section -->
<div id="normal" class="modal">
    <span onclick="document.getElementById('normal').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="">
        <div class="container">
            <h1 style="text-align:center; color: #01abaa; font-weight:bold;">一般會員註冊</h1>
            
            <label for="id"><b>使用者帳號 (UserID)</b></label>
            <input type="text" placeholder="Username" name="id" required>
            
            <label for="name"><b>使用者名稱 (Nick Name)</b></label>
            <input type="text" placeholder="Nickname" name="name" required>
      
            <label for="email"><b>信箱 (Email)</b></label>
            <input type="text" placeholder="Email" name="email" required>

            <label for="psw"><b>密碼 (Password)</b></label>
            <input type="password" onKeyUp=pwStrength(this.value) onBlur=pwStrength(this.value) placeholder="Password" id="psw" required>
            <br>密碼強度:
            <table width="217" border="1" cellspacing="0" cellpadding="1" bordercolor="#cccccc" height="23" style='display:inline'>
                    <tr align="center" bgcolor="#eeeeee"> 
                    
                    <td width="33%" id="strength_L">弱</td>
                    
                    <td width="33%" id="strength_M">中</td>
                    
                    <td width="33%" id="strength_H">強</td>
                    </tr>
            </table>
            <label for="psw-retype"><b>確認密碼 (Retype Password)</b></label>        
            <input type="password" placeholder="Retype Password" name="psw-retype" required>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('normal').style.display='none'" class="cancelbtn">上一頁</button>
                <button type="submit" class="signupbtn" style="background-color:#ffe869; color:black">確認</button>
            </div>
        </div>
    </form>
</div>

<!-- Vendor Section -->
<div id="vendor" class="modal">
    <span onclick="document.getElementById('vendor').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="">
        <div class="container">
            <h1 style="text-align:center; color: #01abaa; font-weight:bold;">廠商會員</h1>
            
            <label for="vendor"><b>廠商名稱 (Vendor Name)</b></label>
            <input type="text" placeholder="Name" name="vendor" required>
          
            <label for="psw"><b>密碼 (Password)</b></label>
            <input type="password" placeholder="Password" name="psw" required>

            <label for="psw-retype"><b>確認密碼 (Retype Password)</b></label>
            <input type="password" placeholder="Retype Password" name="psw-retype" required>
          
            <label for="add"><b>地址 (Address)</b></label>
            <input type="text" placeholder="Address" name="add" required>
          
            <label for="phone"><b>電話號碼 (Phone number)</b></label>
            <input type="text" placeholder="Phone number" name="phone" required>
          
            <label for="web"><b>網頁 (Website)</b></label>
            <input type="text" placeholder="website" name="web" required>
          
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('vendor').style.display='none'" class="cancelbtn">上一頁</button>
                <button type="submit" class="signupbtn" style="background-color:#ffe869; color:black">確認</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>



<!--
<!DOCTYPE html>
<html>
<title>Sign Up</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/signup.css">
<link rel="stylesheet" href="css/w3.css">
</head>
<body>
<img class="w3-image" src="css/cover.png" alt="Cover" width="1600" height="800">

<div class="w3-display-middle w3-margin-top w3-center">
  <h1>Who are you?</h1>
  <button onclick="document.getElementById('normal').style.display='block'" style="width:auto;">I'm a normal user</button>
  <button onclick="document.getElementById('vendor').style.display='block'" style="width:auto;">I'm a vendor</button>
  <a href = http://localhost:8080/ ><h1>back to homepage</h1></a>
</div>  
-->
<!-- Normal Section -->
<!--
<div id="normal" class="modal">
  <span onclick="document.getElementById('normal').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/process/submit" method="POST">
    <div class="container">
      <h1>Sign Up For Normal User</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="user"><b>User Name</b></label>
      <input type="text" placeholder="Name" name="user" required>
      
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Email" name="email" required>
      
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="pswrepeat" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('normal').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn" style="background-color:#ffef54; color:black">Sign Up</button>
      </div>
    </div>
  </form>
</div>
-->
<!-- Vendor Section -->
<!--
<div id="vendor" class="modal">
  <span onclick="document.getElementById('vendor').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="">
    <div class="container">
      <h1>Sign Up For Vendor</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Vendor Name</b></label>
      <input type="text" placeholder="Name" name="vendor" required>
      
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
      <label for="add"><b>Address</b></label>
      <input type="text" placeholder="Address" name="add" required>
      
      <label for="phone"><b>Phone number</b></label>
      <input type="text" placeholder="Phone number" name="phone" required>
      
      <label for="web"><b>Website</b></label>
      <input type="text" placeholder="website" name="web" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('vendor').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn" style="background-color:#ffef54; color:black">Sign Up</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
-->