<!DOCTYPE html>
<html>
<title>優惠券</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/coupon.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/ajaxupload.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
</head>
<body>

<script>
  $(function() {
    $('.button-like')
      .bind('click', function(event) {
        $(".button-like").toggleClass("liked");
      })
  });
</script>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="ac" class="w3-bar-item w3-button" style="font-size:200%;color:#01abaa;"><b>MUMO</b></a>
        <div class="topnav">
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- page content-->
<div class="w3-main w3-content w3-padding" style="max-width:1000px;margin-top:80px">
    <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: #ff7a5a;"></i>優惠活動</h2>

        <!--coupons-->
        <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
            </hr>
            <h3>買三送一 TRAIN TO BUSAN/ 50 張</h3>
            <div class="row">
                <div class="col-left">
                    <img src="css/ava.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">86影城
                </div>
                <div class="col-right">
                    發布期間: 2018/8/1 至 2018/8/20</br>
                    <span class="w3-right w3-opacity" style="color: red;font-weight: bold;">已領8張 尚有42張</span></br>
                    <button class="button button-1">
                        <i class="fa fa-bookmark"></i>
                        領取
                    </button>

                    <button class="button button-like w3-right">
                        <i class="fa fa-heart"></i>
                        Like
                    </button>
                </div>
            </div>
            </br>
            <hr>
            <div class="row">
                <div class="col-1">
                    <img src="css/1.jpg" style="width:100%" alt="coupon1">
                </div>
                <div class="col-2">
                    <p>限量: 50 張</br>
                        優惠說明: </br>
                        ● 使用期間 2018/8/1 到 2018/8/20。</br>
                        ● 週一至週五 早上9:00到12:00  </br>
                        請將 QR CODE 交付店家掃描，即可獲得優惠卷乙張。</p>
                </div>
            </div>
        </div></br>

        <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
            </hr>
            <h3>7.9折: 萬聖節限定蛋糕/ 40 張</h3>
            <div class="row">
                <div class="col-left">
                    <img src="css/img1.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">ISABELLE 伊莎貝爾(新北板橋門市)
                </div>
                <div class="col-right">
                    發布期間: 2018/10/10 至 2018/11/10</br>
                    <span class="w3-right w3-opacity" style="color: red;font-weight: bold;">已領30張 尚有10張</span></br>
                    <button class="button button-1">
                        <i class="fa fa-bookmark"></i>
                        領取
                    </button>

                    <button class="button button-like w3-right">
                        <i class="fa fa-heart"></i>
                        Like
                    </button>
                </div>
            </div>
            </br>
            <hr>
            <div class="row">
                <div class="col-1">
                    <img src="css/halloween.jpg" style="width:100%" alt="coupon1">
                </div>
                <div class="col-2">
                    <p>限量: 40 張</br>
                    優惠說明: </br>
                    ● 使用期間 2018/10/10 到 2018/11/10</br>
                    ● 平假日皆可使用；不得跨店使用  </br>
                    ● 預約方式：請提前 4 天電話預約</br>
                    請將 QR CODE 交付店家掃描，即可獲得優惠卷乙張。</p>
                </div>
            </div>
        </div></br>

        <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
            </hr>
            <h3>6.8折: 平日單人吃到飽/ 20 張</h3>
            <div class="row">
                <div class="col-left">
                    <img src="css/img2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">兩餐두끼韓國年糕火鍋(忠孝店)
                </div>
                <div class="col-right">
                    發布期間: 2018/10/1 至 2018/10/20</br>
                    <span class="w3-right w3-opacity" style="color: red;font-weight: bold;">已領9張 尚有11張</span></br>
                    <button class="button button-1">
                        <i class="fa fa-bookmark"></i>
                        領取
                    </button>

                    <button class="button button-like w3-right">
                        <i class="fa fa-heart"></i>
                        Like
                    </button>
                </div>
            </div>
            </br>
            <hr>
            <div class="row">
                <div class="col-1">
                    <img src="css/korean.jpg" style="width:100%" alt="coupon1">
                </div>
                <div class="col-2">
                    <p>限量: 40 張</br>
                    優惠說明: </br>
                    ● 使用期間 2018/10/1 到 2018/10/20</br>
                    ● 週一至週五 11:30~16:30 可使用  </br>
                    ● 預約方式：請提前電話預約</br>
                    ● 其他：</br>
                    &emsp;1.本優惠僅供內用(用餐時間 90 分鐘)</br>
                    &emsp;2.未持兌換券者依店家規定：131 公分以上每人低消 299 元，110 ~ 130 公分低消 150 元，以上需另加 10% 清潔費，109 公分以下小朋友免低消</br>
                    &emsp;3.菜色內容依季節時令調整，實際菜色依現場供應為主</br>
                    請將 QR CODE 交付店家掃描，即可獲得優惠卷乙張。</p>
                </div>
            </div>
        </div></br>

        <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
            </hr>
            <h3> 平假日皆可抵用100元消費金額/ 30 張</h3>
            <div class="row">
                <div class="col-left">
                    <img src="css/img3.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px">莎蜜咖啡
                </div>
                <div class="col-right">
                    發布期間: 2018/9/24 至 2018/11/30</br>
                    <span class="w3-right w3-opacity" style="color: red;font-weight: bold;">已領22張 尚有8張</span></br>
                    <button class="button button-1">
                        <i class="fa fa-bookmark"></i>
                        領取
                    </button>

                    <button class="button button-like w3-right">
                        <i class="fa fa-heart"></i>
                        Like
                    </button>
                </div>
            </div>
            </br>
            <hr>
            <div class="row">
                <div class="col-1">
                    <img src="css/cafe.jpg" style="width:100%" alt="coupon1">
                </div>
                <div class="col-2">
                    <p>限量: 30 張</br>
                    優惠說明: </br>
                    ● 使用期間 2018/9/24 至 2018/11/30</br>
                    ● 平假日皆可使用 </br>
                    ● 本優惠可內用及外帶，每人每次不限使用張數 </br>
                    ● 商品內容依季節時令調整，實際商品、價目依現場提供為主 </br>
                    ● 範例：到店消費 180 元，出示1張券可折抵 100 元，結帳再付 80 元 </br>
                    請將 QR CODE 交付店家掃描，即可獲得優惠卷乙張。</p>
                </div>
            </div>
        </div></br>

        <div class="center">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
