<!DOCTYPE html>
<html lang="en">
<head><!--88-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/friendstyle.css">
    <link rel="stylesheet" href="css/ja.java">
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="css/audiojs/audiojs/audio.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        audiojs.events.ready(function() {
            audiojs.createAll();
        });

        function myalert() {
            swal({
                title: "確定要封鎖?",
                text: "一旦封鎖將無法取消且本網站亦不負責後續任何責任",
                icon: "warning",
                buttons: ["取消", "確認"],
                dangerMode: true,
             })
            .then((willDelete) => {
                if (willDelete) {
                    swal("封鎖成功", {
                        icon: "success",
                    });
                } 
                else {
                    swal("再想清楚喔!");
                }
        });
}

    </script>





    <script>
            function onYouTubeIframeAPIReady(){var e=document.getElementById("youtube-audio"),
                                               t=document.createElement("img");
                                               t.setAttribute("id","youtube-icon"),
                                               t.style.cssText="cursor:pointer;cursor:hand",
                                               e.appendChild(t);var a=document.createElement("div");
                                               a.setAttribute("id","youtube-player"),
                                               e.appendChild(a);
                                               var o=function(e){var a=e?"css/4.png":"css/3.png";
                                               t.setAttribute("src"," "+a)};
                                               e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo(),o(!1)):(r.playVideo(),o(!0))};
                                               var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,
                                               playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop},
                                               events:{onReady:function(e){r.setPlaybackQuality("small"),
                                               o(r.getPlayerState()!==YT.PlayerState.CUED)},
                                               onStateChange:function(e){e.data===YT.PlayerState.ENDED&&o(!1)}}})}

    </script>
    <title>Friends</title>
    <script type="text/javascript">
        var localData = localStorage.getItem('userData');
        localData = JSON.parse(localData);
        console.log("localData : " + localData);

        var userName = localData.userName;
        var userEmail = localData.userEmail;
        var userPwd = localData.userPwd;
        var id = localData.id;
        var gender = localData.gender;
        var constellation = localData.constellation;
        var birth = localData.birth;
        var country = localData.country;
        var city = localData.city;
        var photo = localData.photo;

        if(photo == undefined){photo = "";}

        photo = photo.split(' ').join('+');

        console.log("userName : " + userName);
        console.log("userEmail : " + userEmail);
        console.log("userPwd : " + userPwd);
        console.log("id : " + id);
        console.log("gender : " + gender);
        console.log("constellation : " + constellation);
        console.log("birth : " + birth);
        console.log("country : " + country);
        console.log("city : " + city);
        console.log("photo : " + photo);
    </script>
</head>
<body>

  <!-- Navbar (sit on top) -->
  <link rel="stylesheet" href="css/w3.css">
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card">
            <div class="w3-bar-item logo"><b style="font-size:180%;color:#01abaa;">M</b>
                <b style="font-size:180%;color:#f7b75d;">U</b>
                <b style="font-size:180%;color:#01abaa;">M</b>
                <b style="font-size:180%;color:#f07658;">O</b>
            </div>

      <!-- Float links to the right. Hide them on small screens -->
      <div class="menucenter" style="font-family:Microsoft JhengHei;">
        <button onclick="window.location.href='/userpage'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">我的主頁<span class="sr-only">(current)</span></button>
        <button onclick="window.location.href='/friends'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">交友</button>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-button" title="Notifications">聊天室<i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <button onclick="window.location.href='/message0'" class="w3-bar-item w3-button">個人</button>
            <button onclick="window.location.href='/group'" class="w3-bar-item w3-button">群組</button>
          </div>
        </div>
        <button onclick="window.location.href='/ac'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">最新動態</button>
        <button onclick="window.location.href='/coupon'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">好康優惠</button>
        <button onclick="window.location.href='/shop'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">配送禮物</button>
        <button onclick="window.location.href='/date_user'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">公主/王子的約會</button>
      </div>
    </div>
  </div>
  
    <!--左邊欄位-->
    <div class="container" style="margin-bottom:50px; margin-top:100px"><!--和上面的間距-->
        <div class="row">
            <div class="col-lg-4" id="left"><!--left 是左邊欄位,占整個版面的3/12-->
                <img class="profile-pic rounded-circle border border-secondary" src="css/img.png" alt="image">
                <div class="p-image">
                    <input id="img" class="file-upload" type="file" accept="image/*" style="display: none;">
                </div>
                <div class="left_text">
                    <dl class="row">
                        <dt class="col-sm-12" style="font-size:40px; font-family:Microsoft JhengHei; color: #444444;"><div id="username">username</div></dt>
                        <dt class="col-sm-12"><img id="gender" src="css/girl.png" alt="image" width="10%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                    </dl>
                    </br>

                    <div class="row">
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">生日</dt>
                        <dd id="birth" class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">03/18</dd>
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">城市</dt>
                        <dd id="country city" class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">
                            country - city
                        </dd>
                        <dt class="col-sm-5"> <img id="dia" src="css/dia2.png" alt="image" width="30%" height="80%"></dt>
                        <p class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">123456</p>
                    </div>

                    </br>
                    <input type="image" class="rounded-circlelike" img src="css/jennie1.jpg"  data-toggle="modal" data-target="#myModal9">
                        <div class="modal" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="modal-title" id="myModalLabel" style="position:absolute;
                                        left:20px;">Jennie</h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6 ml-auto">
                                                    <img class="rounded-circlefriendcard" src="css/jennie1.jpg" alt="image">
                                                    <p style="color:#888888">&nbsp;&nbsp;近日發行2則影片</p>
                                                </div>
                                                <div class="col-md-6" style="text-align:left;">
                                                    <img src="css/girl.png" width="15%">&nbsp;&nbsp;Jennie<br/><br/>
                                                    <img src="css/birthday.png" width="15%">
                                                    &nbsp;&nbsp;1996/03/25<br/><br/>
                                                    <img src="css/music.png" width= "15%">
                                                    Favorite
                                                    <img src="css/movie.png" width= "15%">
                                                    </br><br/>
                                                    <a style="margin-left:10%">Movie:&nbsp;動作片</a>
                                                    <a style="margin-left:10%">Music:&nbsp;Kpop</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" onclick="javascript:location.href='file:///Users/chang/Downloads/Mumo-master%202/fuckthisshit/ras%202/Jennie's.html'" class="btn btn-info">拜訪</button>
                                        <button type="button" data-dismiss="modal" class="btn btn-info">聊天</button>
                                        <button onclick="myalert()" type="button" class="btn btn-outline-danger">封鎖</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <input type="image" class="rounded-circlelike" src="css/lisa.jpg" alt="image" >
                    <input type="image" class="rounded-circlelike" src="css/rose3.jpg" alt="image" >

                    <!--music-->
                    <div>
                        <audio src="css/audiojs/123.mp3" preload="auto"></audio>
                    </div>

                    <HR color="black" size="10" width="90%"  align="center">

                    <dl class="row">
                        <dt class="col-sm-12" style="font-family:comic sans ms; font-size:23px;"><img src="css/music.png" width= "13%" height="50%"> Favorite <img src="css/movie.png" width= "13%" height="50%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                        <dt class="col-sm-5" style="font-size:18px;">Movie</dt>
                        <dd class="col-sm-7" style="font-size:18px;">動作片</dd>
                        <dt class="col-sm-5" style="font-size:18px;">Music</dt>
                        <dd class="col-sm-7" style="font-size:18px;">Kpop</dd>
                    </dl>
                    <div class="boxself_content">
                            <a id="constellation" style="font-family: Microsoft JhengHei; font-size:20px;"></a>
                        </br>
                            <a id="constellation" style="font-family: Microsoft JhengHei; font-size:20px;">
                            🌸慢熟氣質美女🌸</br>
                            遇到狗狗眼睛會變愛心😍</br>
                            韓劇 & 美劇 & K-POP & POP</br>
                            客的壞鬼到底是不是爺爺👻</br>
                            誰趕快來跟我一起討論😖😖</br>
                            </a>
                        </div>
                </div>
            </div>




            <!--<div class="col-lg-8 mt-lg-0 mt-3">-->
            <div class="col-lg-8 mt-lg-0 mt-3" >

                <div class="box2">
                    <h4>
                        Friends
                    </h4>
                    <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#exampleModalCenter">尋找新朋友</button>
                    <!-- Modal -->
                    <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">想認識怎樣的新朋友呢～</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li style="font-size:18px">性別
                                            <div class="form-check form-check-inline" style="margin-left:20px;">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">男</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">女</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                                <label class="form-check-label" for="inlineRadio3">男女皆可</label>
                                            </div>
                                        </li>
                                        </br>
                                        <li style="font-size:18px">年齡
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:80px; margin-left:20px;">
                                                <option selected>從</option>
                                                <option value="18">18</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="30">30</option>
                                                <option value="35">35</option>
                                                <option value="40">40</option>
                                                <option value="45">45</option>
                                                <option value="50">50</option>
                                                <option value="55">55</option>
                                                <option value="60">60</option>
                                                <option value="65">65</option>
                                                <option value="70">70</option>
                                                <option value="75">75</option>

                                            </select>
                                            歲~
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:80px; height:37px;">
                                                <option selected>至</option>
                                                <option value="18">18</option>
                                                <option value="20">20</option>
                                                <option value="25">25</option>
                                                <option value="30">30</option>
                                                <option value="35">35</option>
                                                <option value="40">40</option>
                                                <option value="45">45</option>
                                                <option value="50">50</option>
                                                <option value="55">55</option>
                                                <option value="60">60</option>
                                                <option value="65">65</option>
                                                <option value="70">70</option>
                                                <option value="75">75</option>
                                            </select>
                                            歲
                                        </li>
                                        </br>
                                        <li style="font-size:18px">喜歡的電影類型
                                        </br>
                                            <label class="form-select-label" for="inlineRadio1" style="margin-left:20%">1.</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:150px; height:37px;">
                                                <option selected>Choose..</option>
                                                <option value="a">動畫/卡通片</option>
                                                <option value="b">音樂歌舞片</option>
                                                <option value="c">動作/武打片</option>
                                                <option value="d">警匪片</option>
                                                <option value="e">武俠片</option>
                                                <option value="f">古裝劇</option>
                                                <option value="g">運動片</option>
                                                <option value="h">戰爭片</option>
                                                <option value="i">賀歲片</option>
                                                <option value="j">科幻/奇幻片</option>
                                                <option value="k">災難片</option>
                                                <option value="l">公路片</option>
                                                <option value="m">西部片</option>
                                                <option value="n">歷史片</option>
                                                <option value="o">喜劇片</option>
                                                <option value="p">愛情片</option>
                                                <option value="q">懸疑片</option>
                                                <option value="r">恐怖片</option>
                                            </select>
                                            </br>
                                            <label class="form-select-label" for="inlineRadio1" style="margin-left:20%">2.</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:150px; height:37px;">
                                                <option selected>Choose..</option>
                                                <option value="a">動畫/卡通片</option>
                                                <option value="b">音樂歌舞片</option>
                                                <option value="c">動作/武打片</option>
                                                <option value="d">警匪片</option>
                                                <option value="e">武俠片</option>
                                                <option value="f">古裝劇</option>
                                                <option value="g">運動片</option>
                                                <option value="h">戰爭片</option>
                                                <option value="i">賀歲片</option>
                                                <option value="j">科幻/奇幻片</option>
                                                <option value="k">災難片</option>
                                                <option value="l">公路片</option>
                                                <option value="m">西部片</option>
                                                <option value="n">歷史片</option>
                                                <option value="o">喜劇片</option>
                                                <option value="p">愛情片</option>
                                                <option value="q">懸疑片</option>
                                                <option value="r">恐怖片</option>
                                            </select>
                                            </br>
                                            <label class="form-select-label" for="inlineRadio1" style="margin-left:20%">3.</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:150px; height:37px;">
                                                <option selected>Choose..</option>
                                                <option value="a">動畫/卡通片</option>
                                                <option value="b">音樂歌舞片</option>
                                                <option value="c">動作/武打片</option>
                                                <option value="d">警匪片</option>
                                                <option value="e">武俠片</option>
                                                <option value="f">古裝劇</option>
                                                <option value="g">運動片</option>
                                                <option value="h">戰爭片</option>
                                                <option value="i">賀歲片</option>
                                                <option value="j">科幻/奇幻片</option>
                                                <option value="k">災難片</option>
                                                <option value="l">公路片</option>
                                                <option value="m">西部片</option>
                                                <option value="n">歷史片</option>
                                                <option value="o">喜劇片</option>
                                                <option value="p">愛情片</option>
                                                <option value="q">懸疑片</option>
                                                <option value="r">恐怖片</option>
                                            </select>
                                        </li>
                                        </br>
                                        <li style="font-size:18px">喜歡的音樂類型
                                        </br>
                                            <label class="form-select-label" for="inlineRadio1" style="margin-left:20%">1.</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:150px; height:37px;">
                                                <option selected>Choose..</option>
                                                <option value="a">流行樂</option>
                                                <option value="b">KPOP</option>
                                                <option value="c">JPOP</option>
                                                <option value="d">先鋒派</option>
                                                <option value="e">節奏藍調</option>
                                                <option value="f">靈魂樂</option>
                                                <option value="g">放克音樂</option>
                                                <option value="h">雷鬼樂</option>
                                                <option value="i">巴薩諾瓦</option>
                                                <option value="j">無伴奏合唱</option>
                                                <option value="k">鄉村音樂</option>
                                                <option value="l">搖滾樂</option>
                                                <option value="m">電子音樂</option>
                                                <option value="n">拉丁音樂</option>
                                                <option value="o">爵士樂</option>
                                                <option value="p">嘻哈音樂</option>
                                                <option value="q">輕音樂</option>
                                                <option value="r">舞蹈流行音樂</option>
                                            </select>
                                            </br>
                                            <label class="form-select-label" for="inlineRadio1" style="margin-left:20%">2.</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:150px; height:37px;">
                                                <option selected>Choose..</option>
                                                <option value="a">流行樂</option>
                                                <option value="b">KPOP</option>
                                                <option value="c">JPOP</option>
                                                <option value="d">先鋒派</option>
                                                <option value="e">節奏藍調</option>
                                                <option value="f">靈魂樂</option>
                                                <option value="g">放克音樂</option>
                                                <option value="h">雷鬼樂</option>
                                                <option value="i">巴薩諾瓦</option>
                                                <option value="j">無伴奏合唱</option>
                                                <option value="k">鄉村音樂</option>
                                                <option value="l">搖滾樂</option>
                                                <option value="m">電子音樂</option>
                                                <option value="n">拉丁音樂</option>
                                                <option value="o">爵士樂</option>
                                                <option value="p">嘻哈音樂</option>
                                                <option value="q">輕音樂</option>
                                                <option value="r">舞蹈流行音樂</option>
                                            </select>
                                            </br>
                                            <label class="form-select-label" for="inlineRadio1" style="margin-left:20%">3.</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" style="width:150px; height:37px;">
                                                <option selected>Choose..</option>
                                                <option value="a">流行樂</option>
                                                <option value="b">KPOP</option>
                                                <option value="c">JPOP</option>
                                                <option value="c">POP</option>
                                                <option value="d">先鋒派</option>
                                                <option value="e">節奏藍調</option>
                                                <option value="f">靈魂樂</option>
                                                <option value="g">放克音樂</option>
                                                <option value="h">雷鬼樂</option>
                                                <option value="i">巴薩諾瓦</option>
                                                <option value="j">無伴奏合唱</option>
                                                <option value="k">鄉村音樂</option>
                                                <option value="l">搖滾樂</option>
                                                <option value="m">電子音樂</option>
                                                <option value="n">拉丁音樂</option>
                                                <option value="o">爵士樂</option>
                                                <option value="p">嘻哈音樂</option>
                                                <option value="q">輕音樂</option>
                                                <option value="r">舞蹈流行音樂</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="location.href='findfriend'" class="btn btn-primary">開始搜尋</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="boxfriend_content">
                        <div class="row">
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/tino.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>2則新影片</div>
                                    <h2>Tino</h2>
                                </a>

                                <div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h2 class="modal-title" id="myModalLabel" style="position:absolute;
                                                left:20px;">Tino</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 ml-auto">
                                                            <img class="rounded-circlefriendcard" src="css/tino.jpg" alt="image">
                                                            <p style="color:#888888">&nbsp;&nbsp;近日發行2則影片</p>
                                                        </div>
                                                        <div class="col-md-6" style="text-align:left;">
                                                            <img src="css/boy.png" width="15%">&nbsp;&nbsp;Tino<br/><br/>
                                                            <img src="css/birthday.png" width="15%">
                                                            &nbsp;&nbsp;1995/10/18<br/><br/>
                                                            <img src="css/music.png" width= "15%">
                                                            Favorite
                                                            <img src="css/movie.png" width= "15%">
                                                            </br><br/>
                                                            <a style="margin-left:10%">Movie:&nbsp;動作片</a>
                                                            <a style="margin-left:10%">Music:&nbsp;Kpop</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" onclick="javascript:location.href='file:///Users/chang/Downloads/Mumo-master%202/fuckthisshit/ras%202/Jennie's.html'" class="btn btn-info">拜訪</button>
                                                <button type="button" data-dismiss="modal" class="btn btn-info">聊天</button>
                                                <button onclick="myalert()" type="button" class="btn btn-outline-danger">封鎖</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/tonton.jpg" data-toggle="modal" data-target="#myModal3"><br/>
                                <a style="color:#888888;">
                                    <div>1則新影片</div>
                                    <h2>Don Don</h2>
                                </a>

                                <div class="modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h2 class="modal-title" id="myModalLabel" style="position:absolute;
                                                left:20px;">Don Don</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 ml-auto">
                                                            <img class="rounded-circlefriendcard" src="css/tonton.jpg" alt="image">
                                                            <p style="color:#888888">&nbsp;&nbsp;近日發行1則影片</p>
                                                        </div>
                                                        <div class="col-md-6" style="text-align:left;">
                                                            <img src="css/boy.png" width="15%">&nbsp;&nbsp;Don Don<br/><br/>
                                                            <img src="css/birthday.png" width="15%">
                                                            &nbsp;&nbsp;1996/10/21<br/><br/>
                                                            <img src="css/music.png" width= "15%">
                                                            Favorite
                                                            <img src="css/movie.png" width= "15%">
                                                            </br><br/>
                                                            <a style="margin-left:10%">Movie:&nbsp;記錄片</a>
                                                            <a style="margin-left:10%">Music:&nbsp;pop</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" onclick="javascript:location.href='file:///Users/chang/Downloads/Mumo-master%202/fuckthisshit/ras%202/Jennie's.html'" class="btn btn-info">拜訪</button>
                                                <button type="button" data-dismiss="modal" class="btn btn-info">聊天</button>
                                                <button onclick="myalert()" type="button" class="btn btn-outline-danger">封鎖</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/yp.jpg" data-toggle="modal" data-target="#myModal4"><br/>
                                <a style="color:#888888;">
                                    <div>3則新影片</div>
                                    <h2>Yaping</h2>
                                </a>
                                <div class="modal" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h2 class="modal-title" id="myModalLabel" style="position:absolute;
                                                left:20px;">Yaping</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 ml-auto">
                                                            <img class="rounded-circlefriendcard" src="css/yp.jpg" alt="image">
                                                            <p style="color:#888888">&nbsp;&nbsp;近日發行3則影片</p>
                                                        </div>
                                                        <div class="col-md-6" style="text-align:left;">
                                                            <img src="css/girl.png" width="15%">&nbsp;&nbsp;Yaping<br/><br/>
                                                            <img src="css/birthday.png" width="15%">
                                                            &nbsp;&nbsp;1997/09/20<br/><br/>
                                                            <img src="css/music.png" width= "15%">
                                                            Favorite
                                                            <img src="css/movie.png" width= "15%">
                                                            </br><br/>
                                                            <a style="margin-left:10%">Movie:&nbsp;動作片、愛情片</a>
                                                            <a style="margin-left:10%">Music:&nbsp;pop、kpop</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" onclick="javascript:location.href='file:///Users/chang/Downloads/Mumo-master%202/fuckthisshit/ras%202/Jennie's.html'" class="btn btn-info">拜訪</button>
                                                <button type="button" data-dismiss="modal" class="btn btn-info">聊天</button>
                                                <button onclick="myalert()" type="button" class="btn btn-outline-danger">封鎖</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/june.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>0則新影片</div>
                                    <h2>阿郡</h2>
                                </a>

                            </div>
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/fish.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>0則新影片</div>
                                    <h2>碩魚</h2>
                                </a>

                            </div>
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/yee.png" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>3則新影片</div>
                                    <h2>Yee Chen</h2>
                                </a>

                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/ba.png" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>3則新影片</div>
                                    <h2>大仙貝</h2>
                                </a>

                            </div>
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/jennie1.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>0則新影片</div>
                                    <h2>Jennie</h2>
                                </a>

                            </div>
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/rosenb.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>0則新影片</div>
                                    <h2>Rose</h2>
                                </a>

                            </div>
                            
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/loco.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>3則新影片</div>
                                    <h2>Loco</h2>
                                </a>

                            </div>
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/mt.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>0則新影片</div>
                                    <h2>Mati</h2>
                                </a>

                            </div>
                            <div class="col-lg-4 text-center">
                                <input  type="image"  class="rounded-circlefriend"  img  src="css/ilhoon.jpg" data-toggle="modal" data-target="#myModal2"></br>
                                <a style="color:#888888;">
                                    <div>0則新影片</div>
                                    <h2>Ilhoon</h2>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        document.getElementById("username").innerHTML = userName;
        document.getElementById("birth").innerHTML = birth;
        document.getElementById("country city").innerHTML = country + " - " + city;
        if(gender == "Male"){
            $('#gender').attr('src', 'css/boy.png');
            var adj = "浪漫", whichGender = "男";
        }else if(gender == "Female"){
            $('#gender').attr('src', 'css/girl.png');
            var adj = "可愛", whichGender = "女";
        }
        document.getElementById("constellation").innerHTML = adj + whichGender + "  - " + constellation;
        if(photo != "" && photo != undefined){ $('.profile-pic').attr('src', "data:image/jpg;base64, " + photo); }
    </script>
    <script>
    $('#link').click(function () {
        var src = 'http://www.youtube.com/v/FSi2fJALDyQ&amp;autoplay=1';
        $('#myModal').modal('show');
        $('#myModal iframe').attr('src', src);
    });

    $('#myModal button').click(function () {
        $('#myModal iframe').removeAttr('src');
    });
    </script>
</body>
</html>
