<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/groupstyle.css">
    <link rel="stylesheet" href="css/ja.java">
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="css/audiojs/audiojs/audio.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script>
            audiojs.events.ready(function() {
              audiojs.createAll();
            });
    </script>
     <script>
            function onYouTubeIframeAPIReady(){var e=document.getElementById("youtube-audio"),
                                               t=document.createElement("img");
                                               t.setAttribute("id","youtube-icon"),
                                               t.style.cssText="cursor:pointer;cursor:hand",
                                               e.appendChild(t);var a=document.createElement("div");
                                               a.setAttribute("id","youtube-player"),
                                               e.appendChild(a);
                                               var o=function(e){var a=e?"css/4.png":"css/3.png";
                                               t.setAttribute("src"," "+a)};
                                               e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo(),o(!1)):(r.playVideo(),o(!0))};
                                               var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,
                                               playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop},
                                               events:{onReady:function(e){r.setPlaybackQuality("small"),
                                               o(r.getPlayerState()!==YT.PlayerState.CUED)},
                                               onStateChange:function(e){e.data===YT.PlayerState.ENDED&&o(!1)}}})}

    </script>

</head>
<body>
    <div class="box1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background:#Ffb85f"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#" style="font-size:200%; font-weight:bold; color:#01abaa; position:absolute;left:20px;">MUMO</a>

            <li>
              <a href="userpage" class="nav-link"  style="margin-top:25%; font-family:Microsoft JhengHei;">主頁<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a href="friends" class="nav-link"  style="margin-top:23%; font-family:Microsoft JhengHei;">交友</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:16%; font-family:Microsoft JhengHei;">聊天室</a>
              <div class="dropdown-menu" aria-labelledby="dropdown12">
                <a href="chat" class="dropdown-item"  style="font-family:Microsoft JhengHei;">個人</a>
                <a href="group1" class="dropdown-item"  style="font-family:Microsoft JhengHei;">群組</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a href="ac" class="nav-link" id="dropdown12" style="margin-top:14%; font-family:Microsoft JhengHei;">最新動態</a>
            </li>
            <li class="nav-item dropdown">
                <a href="coupon" class="nav-link" id="dropdown12" style="margin-top:14%; font-family:Microsoft JhengHei;">好康優惠</a>
            </li><!--<a href="ac" class="nav-link" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:14%; font-family:Microsoft JhengHei;">最新動態</a>-->
            <li class="nav-item dropdown">
                <a href="shop" class="nav-link" style="margin-top:14%; font-family:Microsoft JhengHei;">贈送禮物</a>
            </li>
            <div id="top-tools">
                <li>
                    <input href="#" type="image" src="css/setting.png" alt="image" width="30%" height="30%" style="margin-top:5px;">
                </li>
                <li>
                    <input href="#" type="image" src="css/qu.png" alt="image" width="30%" height="30%">
                </li>
            </div>
          </ul>
        </div>
      </nav>
    </div>




    <!--左邊欄位-->
    <div class="container my-5"><!--和上面的間距-->
        <div class="row">
            <div class="col-lg-4" id="left"><!--left 是左邊欄位,占整個版面的3/12-->
                <img class="rounded-circle" src="css/hua1.jpg" alt="image">
                <div class="left_text">
                    <dl class="row">
                        <dt class="col-sm-12" style="font-size:40px; font-family:Microsoft JhengHei; color: #444444;">Hua</dt>
                        <dt class="col-sm-12"><img src="css/boy.png" alt="image" width="10%" height="40%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                    </dl>
                    </br>

                    <div class="row">
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">生日</dt>
                        <dd class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">03/18</dd>
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">城市</dt>
                        <dd class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">台灣-屏東</dd>
                        <dt class="col-sm-5"> <img id="dia" src="css/dia2.png" alt="image" width="30%" height="80%"></dt>
                        <p class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">123456</p>
                    </div>

                    </br>
                    <input type="image" class="rounded-circlelike" src="css/jennie1.jpg" alt="image" >
                    <input type="image" class="rounded-circlelike" src="css/lisa.jpg" alt="image" >
                    <input type="image" class="rounded-circlelike" src="css/rose3.jpg" alt="image" >

                    <!--music-->
                    <div>
                        <audio src="css/audiojs/123.mp3" preload="auto"></audio>
                    </div>

                    <HR color="black" size="10" width="90%"  align="center">

                    <dl class="row">
                        <dt class="col-sm-12" style="font-family:comic sans ms; font-size:23px;"><img src="css/music.png" width= "13%" height="25%"> Favorite <img src="css/movie.png" width= "13%" height="27%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                        <dt class="col-sm-5" style="font-size:18px;">Movie</dt>
                        <dd class="col-sm-7" style="font-size:18px;">動作片</dd>
                        <dt class="col-sm-5" style="font-size:18px;">Music</dt>
                        <dd class="col-sm-7" style="font-size:18px;">Kpop</dd>


                    </dl>
                </div>
            </div>

            <!--<div class="col-lg-8 mt-lg-0 mt-3">-->
            <div class="col-lg-8 mt-lg-0 mt-3">

                <div class="box2">
                    <h4>
                        Group
                    </h4>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="first-slide" src="css/pink.jpg" alt="First slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption text-left">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jennie1.jpg" alt="image">
                                                        <h2>日韓影集</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/lisa.jpg" alt="image">
                                                        <h2>日韓綜藝</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jisoo.png" alt="image">
                                                        <h2>台灣綜藝</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="second-slide" src="css/pink.jpg" alt="Second slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/min.jpg" alt="image">
                                                        <h2>中國綜藝</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/rose3.jpg" alt="image">
                                                        <h2>中文影集</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jisoo.png" alt="image">
                                                        <h2>歐美影集</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="third-slide" src="css/pink.jpg" alt="Third slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption text-right">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jennie1.jpg" alt="image">
                                                        <h2>Kpop</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/lisa.jpg" alt="image">
                                                        <h2>Jpop</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jisoo.png" alt="image">
                                                        <h2>Pop</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="fourth-slide" src="css/pink.jpg" alt="Fourth slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption text-right">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#"><img class="rounded-circle1" src="css/jennie1.jpg" alt="image" >
                                                    <h2>古典樂</h2></a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#"><img class="rounded-circle1" src="css/lisa.jpg" alt="image" >
                                                    <h2>西洋精選</h2></a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#"><img class="rounded-circle1" src="css/jisoo.png" alt="image" >
                                                    <h2>台語精選</h2></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    <div class="mt-3">
                        <h4>Always</h4>
                        <div class="mt-1">
                            <div class="boxgroup1_content">
                                <!--chatroom-->
                                <div class="container-fluid">
                                    <div class="row p-3">
                                        <div class="col-12" id="chatbox" style="overflow:auto;">
                                            <ul class="col-12" id="messagebox">
                                                <!-- Message insert here -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row p-5">
                                        <input class="col-10" id="msg" autocomplete="off" type="text" placeholder="請輸入文字">
                                        <input class="col-2" id="send" type="button" value="送出">
                                    </div>
                                </div>
                                <!--chatroom end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--chatroom js-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io();

            $(document).ready(function(){
                var name = prompt("請輸入暱稱","cuteMe");
                if(name=="" || name==null){
                    name = "CuteMe";
                }
                //回應伺服器新增使用者
                socket.emit("new", name);

                //監聽新訊息事件
                socket.on('getMsg', function(data){
                    appendMessage("[ "+data.username+" ] : "+data.msg);
                });

                socket.on('add',function(data){
                    appendMessage(data.username + " 已加入");
                });

                socket.on('left',function(data){
                    appendMessage(data.username + " 已離開");
                });

                $('#send').click(function(){
                    var text = $('#msg').val();
                    socket.emit('sendMsg', text);
                    $('#msg').val('');
                    return false;
                });

                $("#msg").keydown(function(event){
                    if (event.which == 13){
                        $('#send').click();
                    }
                });

                function appendMessage(msg){
                    $('#messagebox').append($('<li class="list-group-item">').text(msg));
                    var message = document.getElementById("chatbox");
                    message.scrollTop = message.scrollHeight;
                }
            });
        </script>
    <!--chatroom js end-->

</body>
</html>
