<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/groupstyle.css">
    <link rel="stylesheet" href="css/ja.java">
    <!-- button cute arrow -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="css/audiojs/audiojs/audio.min.js"></script>
    <script>
            audiojs.events.ready(function() {
              audiojs.createAll();
            });
    </script>
     <script>
            function onYouTubeIframeAPIReady(){var e=document.getElementById("youtube-audio"),
                                               t=document.createElement("img");
                                               t.setAttribute("id","youtube-icon"),
                                               t.style.cssText="cursor:pointer;cursor:hand",
                                               e.appendChild(t);var a=document.createElement("div");
                                               a.setAttribute("id","youtube-player"),
                                               e.appendChild(a);
                                               var o=function(e){var a=e?"css/4.png":"css/3.png";
                                               t.setAttribute("src"," "+a)};
                                               e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo(),o(!1)):(r.playVideo(),o(!0))};
                                               var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,
                                               playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop},
                                               events:{onReady:function(e){r.setPlaybackQuality("small"),
                                               o(r.getPlayerState()!==YT.PlayerState.CUED)},
                                               onStateChange:function(e){e.data===YT.PlayerState.ENDED&&o(!1)}}})}

    </script>

</head>
<body>
    <link rel="stylesheet" href="css/w3.css">
    <div class="w3-top">
      <div class="w3-bar w3-white w3-padding w3-card">
            <div class="w3-bar-item"><b style="font-size:180%;color:#01abaa;">M</b>
                <b style="font-size:180%;color:#f7b75d;">U</b>
                <b style="font-size:180%;color:#01abaa;">M</b>
                <b style="font-size:180%;color:#f07658;">O</b>
            </div>

        <!-- Float links to the right. Hide them on small screens -->
        <div class="menucenter" style="font-family:Microsoft JhengHei;">
          <button onclick="window.location.href='/userpage'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">我的主頁<span class="sr-only">(current)</span></button>
          <button onclick="window.location.href='/friends'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">交友</button>
          <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button" title="Notifications">聊天室<i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <button onclick="window.location.href='/message0'" class="w3-bar-item w3-button">個人</button>
              <button onclick="window.location.href='/group'" class="w3-bar-item w3-button">群組</button>
            </div>
        </div>
        <button onclick="window.location.href='/ac'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">最新動態</button>
        <button onclick="window.location.href='/coupon'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">好康優惠</button>
        <button onclick="window.location.href='/shop'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">配送禮物</button>
        <button onclick="window.location.href='/date_user'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">公主/王子的約會</button>
      </div>
      <div id="top-tools" style="margin-top:10px;margin-bottom:10px;">
              <input href="#" type="image" src="css/setting.png" alt="image" width="30%" height="30%"></br>
              <input href="#" type="image" src="css/qu.png" alt="image" width="30%" height="80%">
      </div>
    </div>
  </div>




    <!--左邊欄位-->
    <div class="container my-5"><!--和上面的間距-->
        <div class="row">
            <div class="col-lg-4" id="left"><!--left 是左邊欄位,占整個版面的3/12-->
                <img class="rounded-circle" src="css/hua1.jpg" alt="image">
                <div class="left_text">
                    <dl class="row">
                        <dt class="col-sm-12" style="font-size:40px; font-family:Microsoft JhengHei; color: #444444;">Hua</dt>
                        <dt class="col-sm-12"><img src="css/boy.png" alt="image" width="10%" height="80%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                    </dl>
                    </br>

                    <div class="row">
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">生日</dt>
                        <dd class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">03/18</dd>
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">城市</dt>
                        <dd class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">台灣-屏東</dd>
                        <dt class="col-sm-5"> <img id="dia" src="css/dia2.png" alt="image" width="30%" height="80%"></dt>
                        <p class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">123456</p>
                    </div>

                    </br>
                    <input type="image" class="rounded-circlelike" src="css/jennie1.jpg" alt="image" >
                    <input type="image" class="rounded-circlelike" src="css/lisa.jpg" alt="image" >
                    <input type="image" class="rounded-circlelike" src="css/rose3.jpg" alt="image" >

                    <!--music-->
                    <div>
                        <audio src="css/audiojs/123.mp3" preload="auto"></audio>
                    </div>

                    <HR color="black" size="10" width="90%"  align="center">

                    <dl class="row">
                        <dt class="col-sm-12" style="font-family:comic sans ms; font-size:23px;"><img src="css/music.png" width= "13%" height="50%"> Favorite <img src="css/movie.png" width= "13%" height="50%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                        <dt class="col-sm-5" style="font-size:18px;">Movie</dt>
                        <dd class="col-sm-7" style="font-size:18px;">動作片</dd>
                        <dt class="col-sm-5" style="font-size:18px;">Music</dt>
                        <dd class="col-sm-7" style="font-size:18px;">Kpop</dd>


                    </dl>
                </div>
            </div>

            <div class="col-lg-8 mt-lg-0 mt-3">
                <div class="box2">

                    <div class="mb-3">
                        <h4>
                           群組分類
                        </h4>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="first-slide" src="css/pink.jpg" alt="First slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jennie1.jpg" alt="image">
                                                        <h2>日韓影集</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/lisa.jpg" alt="image">
                                                        <h2>日韓綜藝</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jisoo.png" alt="image">
                                                        <h2>台灣綜藝</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="second-slide" src="css/pink.jpg" alt="Second slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/min.jpg" alt="image">
                                                        <h2>中國綜藝</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/rose3.jpg" alt="image">
                                                        <h2>中文影集</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jisoo.png" alt="image">
                                                        <h2>歐美影集</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="third-slide" src="css/pink.jpg" alt="Third slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jennie1.jpg" alt="image">
                                                        <h2>Kpop</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/lisa.jpg" alt="image">
                                                        <h2>Jpop</h2>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#">
                                                        <img class="rounded-circle1" src="css/jisoo.png" alt="image">
                                                        <h2>Pop</h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img class="fourth-slide" src="css/pink.jpg" alt="Fourth slide" style="width:1000px; height:350px;">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="#"><img class="rounded-circle1" src="css/jennie1.jpg" alt="image" >
                                                    <h2>古典樂</h2></a>
                                                </div>
                                                <div class="col-lg-4">
                                                    <a href="#"><img class="rounded-circle1" src="css/lisa.jpg" alt="image" >
                                                    <h2>西洋精選</h2></a>
                                                </div>
                                                <div class="col-lg-4 ">
                                                    <a href="#"><img class="rounded-circle1" src="css/jisoo.png" alt="image" >
                                                    <h2>台語精選</h2></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>最喜愛聊天室</h4>

                                <div class="boxgroup1_content">
                                    <h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0"title="詳細全文" style="color:#444444">
                                            <img type="image" class="rounded-circle2" src="css/bp2.png" alt="image" >
                                            BP粉絲俱樂部~歡迎大家進來聊聊
                                        </a>
                                    </li>

                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <img type="image" class="rounded-circle2" src="css/btob.png" alt="image">
                                            Born To Beat! Melody안녕~~~
                                        </a>
                                    </li>
                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/china.png" alt="image">
                                            延禧..奴才給神樹撓癢癢＾＾ 最新劇情分析
                                        </a>
                                    </li>

                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/bts.jpg" alt="image">
                                            防彈大發！！！歡迎快入坑“”“”“”“
                                        </a>
                                    </li>

                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/fast.png" alt="image">
                                        Fast&Furious歡迎戲迷進入～來聊聊吧！
                                        </a>
                                    </li>
                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/ghost1.png" alt="image">
                                            孔劉-粉絲聊天室～關於最新近況都在裡面喔～
                                        </a>
                                    </li>

                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/god1.png" alt="image">
                                            「世上並沒有很壞的人，只有很壞的狀況」佳句分享
                                        </a>
                                    </li>

                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/run.png" alt="image">
                                            running man 近期內容討論區＊歡迎大家來噢～
                                        </a>
                                    </li>
                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/summi.png" alt="image">
                                            JYP女王 性感Summi 快回歸
                                        </a>
                                    </li>

                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/redvelvet.png" alt="image">
                                            紅貝貝專屬粉絲聊天室，快來分享貝貝近況
                                        </a>
                                    </li>

                                    <li class="list-group-item" style="background:none;">
                                        <a href="message0" title="詳細全文" style="color:#444444">
                                            <input type="image" class="rounded-circle2" src="css/lin.png" alt="image">
                                            ＾行走CD林俊傑＾
                                        </a>
                                    </li>
                                </h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>
</html>
