<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box1">
        <ul class="navBar d-flex justify-content-between mb-0 px-4"><!--mb 跟下面圖片的間距, px 每個分類的間距-->
            <li>
                <a href="#home">主頁</a>
            </li>
            <li>
                <a href="#Friends">好友</a>
            </li>
            <li>
                <a href="#Group">群組</a>
            </li>
            <li>
                <a href="#message">訊息</a>
            </li>
            <li>
                <a href="#New friends">尋找新朋友</a>
            </li>
            <li>
                <a href="#Stores">儲值</a>
            </li>
        </ul>
    </div>
    <div class="container my-5"><!--和上面的間距-->
        <div class="row">
            <div class="col-lg-4" id="left"><!--left 是左邊欄位,占整個版面的4/12-->
                <img class="rounded-circle" src="am.jpg" alt="image" style="margin-top:80px; margin-left:75px;">
                <div class="left_text">
                    <dl class="row">
                        <dt class="col-sm-12" style="font-size:30px">Kait</dt>
                        <dt class="col-sm-12" style="font-size:20px">女</dt>
                        <dt class="col-sm-12" style="font-size:20px">1996/11/18</dt>
                        <dt class="col-sm-12" style="font-size:20px">Taiwan</dt>
                        <dt class="col-sm-12" style="font-size:20px">* 100000</dt>
                    </dl>
                    </br>
                    </br>
                    <HR color="black" size="10" width="90%"  align="center">
                    </br>
                    </br>
                    <dl class="row">
                        <dt class="col-sm-12"># Favorite #</dt>
                        </br>
                        </br>
                        </br>
                        </br>
                        <dt class="col-sm-4">Movie</dt>
                        <dd class="col-sm-8">動作片</dd>
                        <dt class="col-sm-4">Music</dt>
                        <dd class="col-sm-8">Kpop</dd>
                        <dt class="col-sm-4">Singer</dt>
                        <dd class="col-sm-8">Tayeon</dd>
                    </dl>
                </div>
            </div>
            <!--<div class="col-lg-8 mt-lg-0 mt-3">-->
            <div class="col-lg-8 mt-lg-0 mt-3">
                   
                <div class="box2">
                    <div class="mb-3">
                        <div class="box2_content">
                            <h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="background:none;"> <a href="file:///Users/chang/Desktop/%E5%B0%88%E9%A1%8C/ras%202/message.html" style="color: white;" title="詳細全文">你在幹嘛？</a></li>

                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color: white;" title="詳細全文">180129 恭喜<span style="font-family:標楷體; color: red ; ">Rosalie</span>哈哈哈</a></li>
                                
                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color: white;" title="詳細全文">我也喜歡Blackpink</a></li>
                                    
                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color: white;" title="詳細全文">12345778</a></li>
                                    
                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color: white;" title="詳細全文">.......</a></li>
                                    
                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color: white;" title="詳細全文">180129 恭喜<span style="font-family:標楷體; color: red ; ">Rosalie</span>~~~~~</a></li>
                                </ul>
                            </h6>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="mb-3">
                        <h4>
                            Message
                        </h4>
                        <div class="boxnew_content">
                            <h1 style="text-align:center; font-family:Microsoft JhengHei">Wandy</h1></br>
                            <dt>abcdefghijk</dt>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>