<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    <link rel="stylesheet" href="css/newstyle.css">
    <link rel="stylesheet" href="css/ja.java">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="css/audiojs/audiojs/audio.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
            audiojs.events.ready(function() {
              audiojs.createAll();
            });
    </script>
    <script>
        function myalert() {
            swal({
                title: "確定要參加此人的約會?",
                text: "一旦參加取消將需要審查若是無故參加缺席系統將會有懲罰",
                icon: "warning",
                buttons: ["取消", "確認"],
                dangerMode: true,
             })
            .then((willDelete) => {
                if (willDelete) {
                    swal("參加成功您的邀請代碼為 j23hya1fij0nghl9kmw 請複製", {
                        icon: "success",
                    });
                }
                else {
                    swal("或許有更好對象^0^!");
                }
            });
        }
    </script>
     <script>
            function onYouTubeIframeAPIReady(){var e=document.getElementById("youtube-audio"),
                                                t=document.createElement("img");
                                                t.setAttribute("id","youtube-icon"),
                                                t.style.cssText="cursor:pointer;cursor:hand",
                                                e.appendChild(t);var a=document.createElement("div");
                                                a.setAttribute("id","youtube-player"),
                                                e.appendChild(a);
                                                var o=function(e){var a=e?"css/4.png":"css/3.png";
                                                t.setAttribute("src"," "+a)};
                                                e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo(),o(!1)):(r.playVideo(),o(!0))};
                                                var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,
                                                playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop},
                                                events:{onReady:function(e){r.setPlaybackQuality("small"),
                                                o(r.getPlayerState()!==YT.PlayerState.CUED)},
                                                onStateChange:function(e){e.data===YT.PlayerState.ENDED&&o(!1)}}})}

    </script>
    <script type="text/javascript">
        var localData = localStorage.getItem('userData');
        localData = JSON.parse(localData);
        console.log("localData : " + localData);

        var userName = localData.userName;
        var userEmail = localData.userEmail;
        var userPwd = localData.userPwd;
        var id = localData.id;
        var gender = localData.gender;
        var constellation = localData.constellation;
        var birth = localData.birth;
        var country = localData.country;
        var city = localData.city;
        var photo = localData.photo;

        if(photo == undefined){photo = "";}

        photo = photo.split(' ').join('+');

        console.log("userName : " + userName);
        console.log("userEmail : " + userEmail);
        console.log("userPwd : " + userPwd);
        console.log("id : " + id);
        console.log("gender : " + gender);
        console.log("constellation : " + constellation);
        console.log("birth : " + birth);
        console.log("country : " + country);
        console.log("city : " + city);
        console.log("photo : " + photo);
    </script>
</head>
<body>
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card">
        <div class="w3-bar-item logo"><b style="font-size:180%;color:#01abaa;">M</b>
          <b style="font-size:180%;color:#f7b75d;">U</b>
          <b style="font-size:180%;color:#01abaa;">M</b>
          <b style="font-size:180%;color:#f07658;">O</b>
      </div>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="menucenter" style="font-family:Microsoft JhengHei;">
        <button onclick="window.location.href='/userpage'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">我的主頁<span class="sr-only">(current)</span></button>
        <button onclick="window.location.href='/friends'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">交友</button>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-button" title="Notifications">聊天室<i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <button onclick="window.location.href='/message0'" class="w3-bar-item w3-button">個人</button>
            <button onclick="window.location.href='/group'" class="w3-bar-item w3-button">群組</button>
          </div>
        </div>
        <button onclick="window.location.href='/ac'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">最新動態</button>
        <button onclick="window.location.href='/coupon'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">好康優惠</button>
        <button onclick="window.location.href='/shop'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">配送禮物</button>
        <button onclick="window.location.href='/date_user'" class="w3-bar-item w3-button w3-hide-small w3-hover-white">公主/王子的約會</button>
      </div>
    </div>
  </div>


  <!-- Page content-->
  <div class="w3-main w3-content w3-padding" style="max-width:1000px;margin-top:80px">
    <div class="w3-container w3-card w3-white w3-margin-bottom">
      <h1> 王子的約會 </h1>
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: #ff7a5a;"></i>活動內容</h2>
        <div class="txt">
          <p>本活動為官方所發起之配對遊戲, 參加者可以在活動中看到王子/公主的直播 並透過留言及回答問題和王子/公主互動。
          配對成功的兩人即可獲得店家的限量優惠券，將線上配對帶到線下約會， 讓你在尋找知音的過程增加尋找到伴侶的機會。</br>
          活動時間: 每周六 晚上8點至9點 (共有四場)</br>
          歡迎大家來報名!</p>
        </div>
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flag fa-fw w3-margin-right w3-xxlarge" style="color: #ff7a5a;"></i>活動報名</h2>
      <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
        </hr>
        <h3>第一場: <span style="color:#01abaa; font-weight:bold;">Don Don</span> 王子</h3>
        <div class="row">
          <div class="col-left">
            <span style="font-weight: bold;">直播日期:</span> 2018/11/14 晚上8點</br>
            <span class="w3-opacity" style="color: red;font-weight: bold;">15個人已報名</span></br>
          </div>
          <div class="col-right">
            <button class="button button-1" onclick="myalert()">
              <i class="fa fa-bookmark"></i>
              報名
            </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-1">
            <img src="css/don1.jpg" style="width: 90%" alt="don1">
          </div>
          <div class="col-2">
            <p style="line-height: 2.5;">
              大家好小弟蔡政佟今年21，非常開心能有這個機會在這邊認識大家。
              小弟的興趣是看電影聽音樂、遊山玩水跟認識新朋友。
              小弟這次有準備好幾個問題想跟大家互動。你們準備好了嗎? 我們的邂逅不是偶然 而是必然</br>
              <img src="css/music.png" width= "7%">
              <a>Music:&nbsp;爵士樂</a></br>
              <img src="css/movie.png" width= "7%">
              <a>Movie:&nbsp;武俠片</a></br>
            </p>
          </div>
        </div>
      </div>


      <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
        </hr>
        <h3>第二場: <span style="color:#01abaa; font-weight:bold;">陳YEE</span> 王子</h3>
        <div class="row">
          <div class="col-left">
            <span style="font-weight: bold;">直播日期:</span> 2018/11/14 晚上8點15分</br>
            <span class="w3-opacity" style="color: red;font-weight: bold;">10個人已報名</span></br>
          </div>
          <div class="col-right">
            <button class="button button-1" onclick="myalert()">
              <i class="fa fa-bookmark"></i>
              報名
            </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-1">
            <img src="css/yee1.jpg" style="width: 90%" alt="don1">
          </div>
          <div class="col-2">
            <p style="line-height: 2.5;">
              Hello everyone! 我是陳毅，非常開心能參加這次的活動。
              我的興趣有畫圖、看書、聽音樂跟認識新朋友。
              這次有準備好幾個問題想跟大家互動。Are you readyyyy?</br>
              <img src="css/music.png" width= "7%">
              <a>Music:&nbsp;流行樂</a></br>
              <img src="css/movie.png" width= "7%">
              <a>Movie:&nbsp;賀歲片</a></br>
            </div>
          </div>
        </div>

        <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
          </hr>
          <h3>第三場: <span style="color:#01abaa; font-weight:bold;">阿郡</span> 公主</h3>
          <div class="row">
            <div class="col-left">
              <span style="font-weight: bold;">直播日期:</span> 2018/11/14 晚上8點30分</br>
              <span class="w3-opacity" style="color: red;font-weight: bold;">報名人數已滿</span></br>
            </div>
            <div class="col-right">
              <button class="button button-1" onclick="myalert()">
                <i class="fa fa-bookmark"></i>
                報名
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-1">
              <img src="css/jun1.jpg" style="width: 90%" alt="jun1">
            </div>
            <div class="col-2">
              <p style="line-height: 2.5;">
                大家好! 我是阿郡，非常開心有這次機會在這邊人是你們。</br>
                喜歡拍電影、寫劇本、覺得還滿好玩的。</br>
                喜歡運動，籃球、排球、游泳，最近又習得羽球的技能。</br>
                <img src="css/music.png" width= "7%">
                <a>Music:&nbsp;流行樂</a></br>
                <img src="css/movie.png" width= "7%">
                <a>Movie:&nbsp;古裝劇</a></br>
              </div>
            </div>
          </div>

          <div class="w3-container w3-card w3-round w3-margin" style="background-color: #fde6b5;">
            </hr>
            <h3>第四場: <span style="color:#01abaa; font-weight:bold;">碩輿</span> 王子</h3>
            <div class="row">
              <div class="col-left">
                <span style="font-weight: bold;">直播日期:</span> 2018/11/14 晚上9點</br>
                <span class="w3-opacity" style="color: red;font-weight: bold;">14個人已報名</span></br>
              </div>
              <div class="col-right">
                <button class="button button-1" onclick="myalert()">
                  <i class="fa fa-bookmark"></i>
                  報名
                </button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-1">
                <img src="css/yu1.jpg" style="width: 90%" alt="yu1">
              </div>
              <div class="col-2">
                <p style="line-height: 2.5;">
                  大家好! 我是碩魚。我覺得自己是個帥氣 感性 浪漫的人，
                  但是別人都說我很天真 可愛 傻傻的。</br>
                  <img src="css/music.png" width= "7%">
                  <a>Music:&nbsp;流行樂</a></br>
                  <img src="css/movie.png" width= "7%">
                  <a>Movie:&nbsp;動作片</a></br>
                </div>
              </div>
            </div>
      </div>
    </div>


  </body>
  </html>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        document.getElementById("username").innerHTML = userName;
        document.getElementById("birth").innerHTML = birth;
        document.getElementById("country city").innerHTML = country + " - " + city;
        if(gender == "Male"){
            $('#gender').attr('src', 'css/boy.png');
            var adj = "浪漫", whichGender = "男";
        }else if(gender == "Female"){
            $('#gender').attr('src', 'css/girl.png');
            var adj = "可愛", whichGender = "女";
        }
        document.getElementById("constellation").innerHTML = adj + whichGender + "  - " + constellation;
        if(photo != "" && photo != undefined){ $('.profile-pic').attr('src', "data:image/jpg;base64, " + photo); }
    </script>
    <script>
    $('#link').click(function () {
        var src = 'http://www.youtube.com/v/FSi2fJALDyQ&amp;autoplay=1';
        $('#myModal').modal('show');
        $('#myModal iframe').attr('src', src);
    });

    $('#myModal button').click(function () {
        $('#myModal iframe').removeAttr('src');
    });
    </script>


    <script type="text/javascript">
    var todayNews, text1, tlen, i;
    todayNews = ["報名時間 2018/01/10~2018/01/30","這將會是一場很棒的活動，希望大家可以從這個活動中找到自己的理想情人"]
    tlen = todayNews.length;
    text1 = "<ul>";
    for (i = 0; i < tlen; i++) {
        text1 += "<li>" + todayNews[i] + "</li>";
    }
    text1 += "</ul>";
    document.getElementById("todayNews").innerHTML = text1;

    </script>
</body>
</html>
