<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/newstyle.css">
    <link rel="stylesheet" href="css/ja.java">
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="css/audiojs/audiojs/audio.min.js"></script>
    <script>
            audiojs.events.ready(function() {
              audiojs.createAll();
            });
    </script>
     <script>
            function onYouTubeIframeAPIReady(){var e=document.getElementById("youtube-audio"),
                                                t=document.createElement("img");
                                                t.setAttribute("id","youtube-icon"),
                                                t.style.cssText="cursor:pointer;cursor:hand",
                                                e.appendChild(t);var a=document.createElement("div");
                                                a.setAttribute("id","youtube-player"),
                                                e.appendChild(a);
                                                var o=function(e){var a=e?"css/4.png":"css/3.png";
                                                t.setAttribute("src"," "+a)};
                                                e.onclick=function(){r.getPlayerState()===YT.PlayerState.PLAYING||r.getPlayerState()===YT.PlayerState.BUFFERING?(r.pauseVideo(),o(!1)):(r.playVideo(),o(!0))};
                                                var r=new YT.Player("youtube-player",{height:"0",width:"0",videoId:e.dataset.video,
                                                playerVars:{autoplay:e.dataset.autoplay,loop:e.dataset.loop},
                                                events:{onReady:function(e){r.setPlaybackQuality("small"),
                                                o(r.getPlayerState()!==YT.PlayerState.CUED)},
                                                onStateChange:function(e){e.data===YT.PlayerState.ENDED&&o(!1)}}})}

    </script>
</head>
<body>
    <div class="box1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background:#Ffb85f"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#" style="font-size:200%; font-weight:bold; color:#01abaa; position:absolute;left:20px;">MUMO</a>

            <li>
              <a href="userpage" class="nav-link"  style="margin-top:25%; font-family:Microsoft JhengHei;">主頁<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a href="friends" class="nav-link"  style="margin-top:23%; font-family:Microsoft JhengHei;">交友</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:16%; font-family:Microsoft JhengHei;">聊天室</a>
              <div class="dropdown-menu" aria-labelledby="dropdown12">
                <a href="chat" class="dropdown-item"  style="font-family:Microsoft JhengHei;">個人</a>
                <a href="chat" class="dropdown-item"  style="font-family:Microsoft JhengHei;">群組</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a href="ac" class="nav-link" id="dropdown12" style="margin-top:14%; font-family:Microsoft JhengHei;">最新動態</a>
            </li>
            <li class="nav-item dropdown">
                <a href="coupon" class="nav-link" id="dropdown12" style="margin-top:14%; font-family:Microsoft JhengHei;">好康優惠</a>
            </li><!--<a href="ac" class="nav-link" id="dropdown12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:14%; font-family:Microsoft JhengHei;">最新動態</a>-->
            <li class="nav-item dropdown">
                <a href="shop" class="nav-link" style="margin-top:14%; font-family:Microsoft JhengHei;">贈送禮物</a>
            </li>
            <div id="top-tools">
                <li>
                    <input href="#" type="image" src="css/setting.png" alt="image" width="30%" height="30%" style="margin-top:5px;">
                </li>
                <li>
                    <input href="#" type="image" src="css/qu.png" alt="image" width="30%" height="30%">
                </li>
            </div>
          </ul>
        </div>
      </nav>
    </div>



    <!--左邊欄位-->
    <div class="container my-5"><!--和上面的間距-->
        <div class="row">
            <div class="col-lg-4" id="left"><!--left 是左邊欄位,占整個版面的3/12-->
                <img class="rounded-circle" src="css/hua1.jpg" alt="image">
                <div class="left_text">
                    <dl class="row">
                        <dt class="col-sm-12" style="font-size:40px; font-family:Microsoft JhengHei; color: #444444;">Hua</dt>
                        <dt class="col-sm-12"><img src="css/boy.png" alt="image" width="20%" height="60%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                    </dl>
                    </br>


                    <div class="row">
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">生日</dt>
                        <dd class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">03/18</dd>
                        <dt class="col-sm-5" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">城市</dt>
                        <dd class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">台灣-屏東</dd>
                        <dt class="col-sm-5"> <img id="dia" src="css/dia2.png" alt="image" width="30%" height="80%"></dt>
                        <p class="col-sm-7" style="font-size:18px; font-family:Microsoft JhengHei; color: #444444;">123456</p>
                    </div>

                    </br>
                    <input type="image" class="rounded-circlelike" src="css/jennie1.jpg" alt="image" >
                    <input type="image" class="rounded-circlelike" src="css/lisa.jpg" alt="image" >
                    <input type="image" class="rounded-circlelike" src="css/rose3.jpg" alt="image" >

                    <!--music-->
                    <div>
                        <audio src="css/audiojs/123.mp3" preload="auto"></audio>
                    </div>

                    <HR color="black" size="10" width="90%"  align="center">

                    <dl class="row">
                        <dt class="col-sm-12" style="font-family:comic sans ms; font-size:23px;"><img src="css/music.png" width= "13%" height="25%"> Favorite <img src="css/movie.png" width= "13%" height="27%"></dt>
                        </br>
                        </br>
                        </br>
                        </br>
                        <dt class="col-sm-5" style="font-size:18px;">Movie</dt>
                        <dd class="col-sm-7" style="font-size:18px;">動作片</dd>
                        <dt class="col-sm-5" style="font-size:18px;">Music</dt>
                        <dd class="col-sm-7" style="font-size:18px;">Kpop</dd>
                    </dl>
                </div>
            </div>


            <div class="col-lg-8 mt-lg-0 mt-3">

                <div class="box2">
                    <div class="mb-3">
                        <h4 ><span style="color: #01abaa ;font-weight:bold;">MUMO</span>最新資訊</h4>
                        <div class="box2_content">
                            <h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="background:none;"> <a href="file:///Users/chang/Downloads/Mumo-master%202/fuckthisshit/ras%202/news.html" style="color:#696969"title="詳細全文">180210 即將展開『王子的約會』，報名時間如下</a></li>

                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color:#696969" title="詳細全文">180129 恭喜<span style="font-family:標楷體; color: red ; ">Rosalie</span>獲得本週人氣最高美女獲得本週人氣最高美女獲得本週人氣最高美女獲得本週人氣最高美女獲得本週人氣最高美女</a></li>

                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color:#696969" title="詳細全文">180125 吃老王-兩人同行一人免費，先搶先贏！！！</a></li>

                                    <li class="list-group-item" style="background:none;"> <a href="#"  style="color:#696969" title="詳細全文">180120 月八嗑-8折優惠卷，還在等什麼呢～</a></li>

                                    <li class="list-group-item" style="background:none;"> <a href="#" style="color:#696969" title="詳細全文">180210 即將展開『王子的約會』，報名時間如下</a></li>

                                    <li class="list-group-item" style="background:none;"> <a href="#"  style="color:#696969"title="詳細全文">180129 恭喜<span style="font-family:標楷體; color: red ; ">Rosalie</span>獲得本週人氣最高美女</a></li>

                                    <li class="list-group-item" style="background:none;"> <a href="#"  style="color:#696969" title="詳細全文">180125 吃老王-兩人同行一人免費，先搶先贏！！！</a></li>
                                </ul>
                            </h6>
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="mb-3">
                        <div class="boxnew_content">
                            <h1 style="text-align:center; font-family:Microsoft JhengHei">180210『王子的約會』</h1></br>
                            <p id="todayNews"></p>
                            <img src="css/jen1.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>




    <script type="text/javascript">
    var todayNews, text1, tlen, i;
    todayNews = ["報名時間 2018/01/10~2018/01/30","這將會是一場很棒的活動，希望大家可以從這個活動中找到自己的理想情人"]
    tlen = todayNews.length;
    text1 = "<ul>";
    for (i = 0; i < tlen; i++) {
        text1 += "<li>" + todayNews[i] + "</li>";
    }
    text1 += "</ul>";
    document.getElementById("todayNews").innerHTML = text1;

    </script>
</body>
</html>
