<!DOCTYPE html>
<html>
<title>MUMO SHOP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/css.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src='jquery.js' type='text/javascript'/></script>
<script type='text/javascript'>
//<![CDATA[
    $(document).ready(function(){

    //how much items per page to show
    var show_per_page = 8;
    //getting the amount of elements inside content div
    var number_of_items = $('#content').children().size();
    //calculate the number of pages we are going to have
    var number_of_pages = Math.ceil(number_of_items/show_per_page);

    //set the value of our hidden input fields
    $('#current_page').val(0);
    $('#show_per_page').val(show_per_page);

    //now when we got all we need for the navigation let's make it '

    /*
    what are we going to have in the navigation?
        - link to previous page
        - links to specific pages
        - link to next page
    */
    var navigation_html = '<a class="previous_link" href="javascript:previous();">«</a>';

    var current_link = 0;
    while (number_of_pages > current_link){
        navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link +')" longdesc="' + current_link +'">'+ (current_link + 1) +'</a>';
        current_link++;
    }

    navigation_html += '<a class="next_link" href="javascript:next();">»</a>';

    $('#page_navigation').html(navigation_html);

    //add active_page class to the first page link
    $('#page_navigation .page_link:first').addClass('active_page');

    //hide all the elements inside content div
    $('#content').children().css('display', 'none');

    //and show the first n (show_per_page) elements
    $('#content').children().slice(0, show_per_page).css('display', 'block');

});

function previous(){

    new_page = parseInt($('#current_page').val()) - 1;
    //if there is an item before the current active link run the function
    if($('.active_page').prev('.page_link').length==true){
        go_to_page(new_page);
    }

}

function next(){
    new_page = parseInt($('#current_page').val()) + 1;
    //if there is an item after the current active link run the function
    if($('.active_page').next('.page_link').length==true){
        go_to_page(new_page);
    }

}
function go_to_page(page_num){
    //get the number of items shown per page
    var show_per_page = parseInt($('#show_per_page').val());

    //get the element number where to start the slice from
    start_from = page_num * show_per_page;

    //get the element number where to end the slice
    end_on = start_from + show_per_page;

    //hide all children elements of content div, get specific items and show them
    $('#content').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');

    /*get the page link that has longdesc attribute of the current page and add active_page class to it
    and remove that class from previously active page link*/
    $('.page_link[longdesc=' + page_num +']').addClass('active_page').siblings('.active_page').removeClass('active_page');

    //update the current page input field
    $('#current_page').val(page_num);
}
//]]>
</script>
<style>
body{
    background: url("css/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}
</style>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="#home" class="w3-bar-item w3-button" style="font-size:200%;color:#01abaa;"><b>MUMO</b></a>
    </div>
</div>
<div class="w3-main w3-content w3-padding" style="max-width:1000px;margin-top:80px">
    <div class="w3-container w3-card w3-white w3-margin-bottom">
        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
            <div class="w3-quarter">
                <img src="css/s1.jpg" alt="watch" style="width:100%">
                <h3>手錶</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
            <div class="w3-quarter">
                <img src="css/s2.jpg" alt="camera" style="width:100%">
                <h3>相機</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
            <div class="w3-quarter">
                <img src="css/s3.jpg" alt="flower" style="width:100%">
                <h3>花</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
            <div class="w3-quarter">
                <img src="css/s4.jpg" alt="popcorn" style="width:100%">
                <h3>爆米花</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
        </div>

          <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="w3-quarter">
                <img src="css/s5.jpg" alt="bike" style="width:100%">
                <h3>腳踏車</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
            <div class="w3-quarter">
                <img src="css/s6.jpg" alt="shoes" style="width:100%">
                <h3>布鞋</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
            <div class="w3-quarter">
                <img src="css/s7.jpg" alt="sunglasses" style="width:100%">
                <h3>墨鏡</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
            <div class="w3-quarter">
                <img src="css/s8.jpg" alt="choco" style="width:100%">
                <h3>巧克力</h3>
                <p>價格：5元;  人氣：10</p>
            </div>
        </div>

          <!-- Pagination -->
        <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">&laquo;</a>
                <a href="#" class="w3-bar-item w3-black w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">&raquo;</a>
            </div>
        </div>
    </div>

</body>
</html>
