<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="normal.css">
<link rel="stylesheet" href="w3.css">
</head>
<body>

<div class="w3-margin-top w3-center">
<h1>Profile Setting</h1>
</div>
<div class="box">
  <form action="/action_page.php">
<!-- birthday -->
    <div class="row">
      <div class="col-25">
        <label for="bday"><b>Birthday</b></label>
      </div>
      <div class="col-75">
        <input type="date" name="bday" required></br>
      </div>
    </div>
<!-- gender -->    
    <div class="row">
      <div class="col-25">
        <label for="gender"><b>Gender</b></label>
      </div>
      <div class="col-75">
        <form>
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other  
        </form> 
      </div>
    </div>
<!-- country -->    
    <div class="row">
      <div class="col-25">
        <label for="country"><b>Country</b></label>
      </div>
      <div class="col-75">
        <select id="country" name="country" required></select>
      </div>
    </div>
<!-- city -->
    <div class="row">
      <div class="col-25">
        <label for="city"><b>City</b></label>
      </div>
      <div class="col-75">
        <select id="city" name="city" required></select>
      </div>
    </div>
<!-- music type -->
    <div class="row">
      <div class="col-25">
        <label for="subject"><b>Music Type</b></label>
      </div>
      <div class="col-75">
        <select id="music" name="music">
            <option value="0">Select music type:</option>
            <option value="1">Alternative</option>
            <option value="2">Anime</option>
            <option value="3">Blues</option>
            <option value="4">Children's Music</option>
            <option value="5">Classical</option>
            <option value="6">Comedy</option>
            <option value="7">Country</option>
            <option value="8">EDM</option>
            <option value="9">Electronic</option>
            <option value="10">Hiphop/rap</option>
            <option value="11">Instrumental</option>
            <option value="12">J-pop</option>
            <option value="13">Jazz</option>
            <option value="14">K-pop</option>
            <option value="15">Latin</option>
            <option value="16">Opera</option>
            <option value="17">Pop</option>
            <option value="18">R&B/Soul</option>
            <option value="19">Rock</option>
            <option value="20">Soundtrack</option>
        </select>
        <select id="music" name="music">
            <option value="0">Select music type:</option>
            <option value="1">Alternative</option>
            <option value="2">Anime</option>
            <option value="3">Blues</option>
            <option value="4">Children's Music</option>
            <option value="5">Classical</option>
            <option value="6">Comedy</option>
            <option value="7">Country</option>
            <option value="8">EDM</option>
            <option value="9">Electronic</option>
            <option value="10">Hiphop/rap</option>
            <option value="11">Instrumental</option>
            <option value="12">J-pop</option>
            <option value="13">Jazz</option>
            <option value="14">K-pop</option>
            <option value="15">Latin</option>
            <option value="16">Opera</option>
            <option value="17">Pop</option>
            <option value="18">R&B/Soul</option>
            <option value="19">Rock</option>
            <option value="20">Soundtrack</option>
        </select>
        <select id="music" name="music">
            <option value="0">Select music type:</option>
            <option value="1">Alternative</option>
            <option value="2">Anime</option>
            <option value="3">Blues</option>
            <option value="4">Children's Music</option>
            <option value="5">Classical</option>
            <option value="6">Comedy</option>
            <option value="7">Country</option>
            <option value="8">EDM</option>
            <option value="9">Electronic</option>
            <option value="10">Hiphop/rap</option>
            <option value="11">Instrumental</option>
            <option value="12">J-pop</option>
            <option value="13">Jazz</option>
            <option value="14">K-pop</option>
            <option value="15">Latin</option>
            <option value="16">Opera</option>
            <option value="17">Pop</option>
            <option value="18">R&B/Soul</option>
            <option value="19">Rock</option>
            <option value="20">Soundtrack</option>
        </select>
      </div>
    </div>
<!-- singer/song -->
    <div class="row">
        <label for="subject"><b>Favourite Singer/Song:</b></label>
        <div class="row">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
            <img src="square.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="col-25">
            <img src="square.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="col-25">
            <img src="square.jpg" alt="Mountains" style="width:100%">
        </div>
        <div class="col-25">
            <img src="square.jpg" alt="Mountains" style="width:100%">
        </div>
    </div>
<!-- movie type -->
    <div class="row">
      <div class="col-25">
        <label for="subject"><b>Movie Type</b></label>
      </div>
      <div class="col-75">
        <select id="music" name="music">
            <option value="0">Select movie type:</option>
            <option value="1">Action</option>
            <option value="2">Animation</option>
            <option value="3">Adventure</option>
            <option value="4">Comedies</option>
            <option value="5">Crime and Gangster film</option>
            <option value="6">Drama</option>
            <option value="7">Historical film</option>
            <option value="8">Horror</option>
            <option value="9">Musical films</option>
            <option value="10">Thrillers</option>
            <option value="11">Sci-fi</option>
            <option value="12">Instrumental</option>
        </select>
        <select id="music" name="music">
            <option value="0">Select movie type:</option>
            <option value="1">Action</option>
            <option value="2">Animation</option>
            <option value="3">Adventure</option>
            <option value="4">Comedies</option>
            <option value="5">Crime and Gangster film</option>
            <option value="6">Drama</option>
            <option value="7">Historical film</option>
            <option value="8">Horror</option>
            <option value="9">Musical films</option>
            <option value="10">Thrillers</option>
            <option value="11">Sci-fi</option>
            <option value="12">Instrumental</option>
        </select>
        <select id="music" name="music">
            <option value="0">Select movie type:</option>
            <option value="1">Action</option>
            <option value="2">Animation</option>
            <option value="3">Adventure</option>
            <option value="4">Comedies</option>
            <option value="5">Crime and Gangster film</option>
            <option value="6">Drama</option>
            <option value="7">Historical film</option>
            <option value="8">Horror</option>
            <option value="9">Musical films</option>
            <option value="10">Thrillers</option>
            <option value="11">Sci-fi</option>
            <option value="12">Instrumental</option>
        </select>
      </div>  
    </div>
<!-- movie/actor -->
    <div class="row">
      <label for="subject"><b>Favourite Movie/Actor:</b></label>
      <div class="row">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
            <img src="square.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="col-25">
            <img src="square.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="col-25">
            <img src="square.jpg" alt="Mountains" style="width:100%">
        </div>
        <div class="col-25">
            <img src="square.jpg" alt="Mountains" style="width:100%">
        </div>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
<script type="text/javascript">
var arrCountry=new Array();
arrCountry["Taiwan"]=new Array("Changhua","Chiayi","Douliu","Hsinchu","Hualien","Kaohsiung","Keelung","Magong","Miaoli","Nantou","New Taipei","Pingtung","Puzi","Taibao","Taichung","Tainan","Taipei","Taitung","Tainan","Taoyuan","Toufen","Yilan","Tuanlin","Zhubei");
arrCountry["Malaysia"]=new Array("Kuala Lumpur","Kota Bharu","Kota Kinabalu","Shah Alam","Georgetown","Tanah Merah","Johor Bahru","Ipor","Seremban","Kuantan");
arrCountry["Hong Kong"]=new Array("Hong Kong","Kowloon", "Tsuen Wan","Yuen Long Kau Hui","Tung Chung","Shatin","Tuen Mun","Tai Po","Sai Kung","Yung Shue Wan");
arrCountry["Macau"];
window.onload=function() {
    var country = document.getElementById("country");
    for (var ctr in arrCountry) {
        var opt =new Option();
        opt.text = ctr;
        country.add(opt);
    }
    for (var ctr in arrCountry) {
        var city =document.getElementById("city");
        for (var i=0; i<arrCountry[ctr].length; i++){
            var opt= new Option();
            opt.text=arrCountry[ctr][i];
            city.add(opt);
        }
        break;
    }
};
</script>
</body>
</html>
