<!DOCTYPE html>
<html>
<title>Setting Profile</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/normal.css">
<link rel="stylesheet" href="css/w3.css">
<style>
body{
    background-image: url("css/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}
}
</style>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <div class="w3-bar-item w3-button" style="font-size:200%;color:#01abaa;"><b>MUMO</b></div>
    </div>
</div>



  <div class="w3-main w3-content w3-padding" style="max-width:1000px;margin-top:80px">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h1 style="font-family: italic; font-size:60px; color:#3b9a9c; text-align: center;">設定個人檔案</h1>

    <form action="/action_page.php">
<!-- birthday -->
        <div class="row">
            <div class="col-25">
                <label for="bday"><b style="font-size: 20px; color:#3b9a9c;">生日</b></label>
            </div>
            <div class="col-75">
                <input type="date" name="bday" required></br>
            </div>
        </div>
<!-- gender -->
        <div class="row">
            <div class="col-25">
                <label for="gender"><b style="font-size: 20px; color:#3b9a9c;">性別</b></label>
            </div>
            <div class="col-75">
                <form>
                    <div class="radio-toolbar">
                        <input type="radio" id="radio1" name="radios" value="all" checked>
                        <label for="radio1">男</label>

                        <input type="radio" id="radio2" name="radios" value="false">
                        <label for="radio2">女</label>

                        <input type="radio" id="radio3" name="radios" value="true">
                        <label for="radio3">其他</label>
                    </div>
                </form>
            </div>
        </div>
<!-- country -->
        <div class="row">
            <div class="col-25">
                <label for="country"><b style="font-size: 20px; color:#3b9a9c;">地區</b></label>
            </div>
            <div class="col-75">
                <select id="country" name="country" required></select>
                <select id="city" name="city" required></select>
            </div>
        </div>
<!-- music type -->
    <div class="row">
        <div class="col-25">
            <label for="subject"><b style="font-size: 20px; color:#3b9a9c;">音樂</b></label>
        </div>
        <div class="col-75">
            <select id="music" name="music">
              <option selected>Choose..</option>
              <option value="a">流行樂</option>
              <option value="b">KPOP</option>
              <option value="c">JPOP</option>
              <option value="d">先鋒派</option>
              <option value="e">節奏藍調</option>
              <option value="f">靈魂樂</option>
              <option value="g">放克音樂</option>
              <option value="h">雷鬼樂</option>
              <option value="i">巴薩諾瓦</option>
              <option value="j">無伴奏合唱</option>
              <option value="k">鄉村音樂</option>
              <option value="l">搖滾樂</option>
              <option value="m">電子音樂</option>
              <option value="n">拉丁音樂</option>
              <option value="o">爵士樂</option>
              <option value="p">嘻哈音樂</option>
              <option value="q">輕音樂</option>
              <option value="r">舞蹈流行音樂</option>
            </select>
            <select id="music" name="music">
              <option selected>Choose..</option>
              <option value="a">流行樂</option>
              <option value="b">KPOP</option>
              <option value="c">JPOP</option>
              <option value="d">先鋒派</option>
              <option value="e">節奏藍調</option>
              <option value="f">靈魂樂</option>
              <option value="g">放克音樂</option>
              <option value="h">雷鬼樂</option>
              <option value="i">巴薩諾瓦</option>
              <option value="j">無伴奏合唱</option>
              <option value="k">鄉村音樂</option>
              <option value="l">搖滾樂</option>
              <option value="m">電子音樂</option>
              <option value="n">拉丁音樂</option>
              <option value="o">爵士樂</option>
              <option value="p">嘻哈音樂</option>
              <option value="q">輕音樂</option>
              <option value="r">舞蹈流行音樂</option>
            </select>
        </div>
    </div>
<!-- movie type -->
    <div class="row">
        <div class="col-25">
            <label for="subject"><b style="font-size: 20px; color:#3b9a9c;">電影類型</b></label>
        </div>
        <div class="col-75">
            <select id="movie" name="movie">
                <option selected>Choose..</option>
                <option value="a">動畫/卡通片</option>
                <option value="b">音樂歌舞片</option>
                <option value="c">動作/武打片</option>
                <option value="d">警匪片</option>
                <option value="e">武俠片</option>
                <option value="f">古裝劇</option>
                <option value="g">運動片</option>
                <option value="h">戰爭片</option>
                <option value="i">賀歲片</option>
                <option value="j">科幻/奇幻片</option>
                <option value="k">災難片</option>
                <option value="l">公路片</option>
                <option value="m">西部片</option>
                <option value="n">歷史片</option>
                <option value="o">喜劇片</option>
                <option value="p">愛情片</option>
                <option value="q">懸疑片</option>
                <option value="r">恐怖片</option>
            </select>
            <select id="movie" name="movie">
              <option selected>Choose..</option>
              <option value="a">動畫/卡通片</option>
              <option value="b">音樂歌舞片</option>
              <option value="c">動作/武打片</option>
              <option value="d">警匪片</option>
              <option value="e">武俠片</option>
              <option value="f">古裝劇</option>
              <option value="g">運動片</option>
              <option value="h">戰爭片</option>
              <option value="i">賀歲片</option>
              <option value="j">科幻/奇幻片</option>
              <option value="k">災難片</option>
              <option value="l">公路片</option>
              <option value="m">西部片</option>
              <option value="n">歷史片</option>
              <option value="o">喜劇片</option>
              <option value="p">愛情片</option>
              <option value="q">懸疑片</option>
              <option value="r">恐怖片</option>
            </select>
        </div>
    </div>
    <!-- about me -->
            <div class="row">
                <div class="col-25">
                    <label for="me"><b style="font-size: 20px; color:#3b9a9c;">自我介紹</b></label>
                </div>
                <div class="col-75">
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:80px"></textarea>
                </div>
            </div>
    </br>
    </br>
     <button class="w3-button w3-block w3-section w3-padding" style="background-color:#ffe869" type="submit">完成!!!</button>
  </form>
</div>
</div>
<script type="text/javascript">
var arrCountry=new Array();
arrCountry["台灣"]=new Array("臺北","新北","桃園","臺中","臺南","基隆","新竹","嘉義","新竹","苗栗","彰化",
"南投","雲林","嘉義","屏東","宜蘭","花蓮","臺東","澎湖","金門","連江");
arrCountry["馬來西亞"]=new Array("Kuala Lumpur","Kota Bharu","Kota Kinabalu","Shah Alam","Georgetown","Tanah Merah","Johor Bahru","Ipor","Seremban","Kuantan");
arrCountry["香港"]=new Array("Hong Kong","Kowloon", "Tsuen Wan","Yuen Long Kau Hui","Tung Chung","Shatin","Tuen Mun","Tai Po","Sai Kung","Yung Shue Wan");
arrCountry["澳門"];
window.onload=function() {
    var country = document.getElementById("country");
    for (var ctr in arrCountry) {
        var opt =new Option();
        opt.text = ctr;
        country.add(opt);
    }
    for (var ctr in arrCountry) {
        var city =document.getElementById("city");
        for (var i=0; i<arrCountry[ctr].length; i++){
            var opt= new Option();
            opt.text=arrCountry[ctr][i];
            city.add(opt);
        }
        break;
    }
};
</script>
</body>
</html>
